<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">
	<div class="flex-item" fxFlex="30%" fxFlex.xs="5%"></div>
	<div class="flex-item" fxFlex>
		<div style="text-align: center">
			
			<h3>Wähle aus, welche Lieder in dein Musikquiz sollen</h3>
			<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
			<span>Ausgewählte Tracks: {{selectedTracks}}</span>
			<button md-raised-button md-accent (click)="next()">Weiter</button>
			</div>
			
		</div>
		<div>
			<md-tab-group>
				<md-tab label="Songs">
					<md-list>
						<md-list-item *ngFor="let track of tracks">
							<!--(click)="track.checked = !track.checked"-->

							<img md-list-avatar src="{{track.album_cover_url}}">
							<h3 md-line> {{track.title}} </h3>
							<p md-line>
								<span> {{track.artist}} </span>
								<span>  ({{track.album}}) </span>
							</p>
							<md-checkbox (click)="updateCounter(track.checked)" [(ngModel)]="track.checked"></md-checkbox>
							<md-divider></md-divider>
						</md-list-item>
					</md-list>
					<button md-raised-button (click)="getTracks()">mehr laden</button>

				</md-tab>
				<md-tab label="Albums">
					<md-list>
						<md-list-item *ngFor="let album of albums">
							<!--(click)="track.checked = !track.checked"-->

							<img md-list-avatar src="{{album.album_cover_url}}">
							<h3 md-line> {{album.name}} </h3>
							<p md-line>
								<span> {{album.artist}} </span>
							</p>
							<md-checkbox (click)="updateCounterAlbum(album)" [(ngModel)]="album.checked"></md-checkbox>
							<md-divider></md-divider>
						</md-list-item>
					</md-list>
					<button md-raised-button (click)="getAlbums()">mehr laden</button>
				</md-tab>
				
				<md-tab label="Playlists">
					<md-list>
						<md-list-item *ngFor="let playlist of playlists">
							<!--(click)="track.checked = !track.checked"-->

							<img md-list-avatar src="{{playlist.cover_url}}">
							<h3 md-line> {{playlist.name}} </h3>
							<p md-line>
								<span> {{playlist.owner}} </span>
								<span> {{playlist.track_count}} Songs </span>
							</p>
							<md-checkbox (click)="updateCounterPlaylist(playlist)" [(ngModel)]="playlist.checked"></md-checkbox>
							<md-divider></md-divider>
						</md-list-item>
					</md-list>
					<button md-raised-button (click)="getPlaylists()">mehr laden</button>
				</md-tab>
				
				
			</md-tab-group>
		</div>
	</div>
	<div class="flex-item" fxFlex="30%"></div>
</div>
