<div style="text-align: center">
	
	<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
		<span>Erratene Songs: <b>{{counterRight}}</b></span>
		<span>Gefragte Songs: <b>{{counter-1}}</b></span>
		<span>Verbleibende Songs: <b>{{counterRemaining}}</b></span>
	
	</div>
	<button md-button (click)="tipp()">Tipp</button>
	<button md-button (click)="solve()">Lösung</button>
	<button md-button (click)="next()">Weiter</button>
	
	
	<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
		<div class="flex-item" fxFlex="20%" fxFlex.xs="40%"></div>
		<div class="flex-item" fxFlex>
			<div id="lyricsbox" style="text-align: center;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	width: 80vw;">
				<h3 *ngFor="let part of parts">
					{{part}}
				</h3>
			</div>
		</div>
		<div class="flex-item" fxFlex="20%"></div>
	</div>
	
	<div *ngIf="showSolution">

		<h2>{{aTrack.artist}} - {{aTrack.title}}</h2>
		<button md-button (click)="playPauseSample()">play/pause</button>
		
		
		<button md-button (click)="rightAnswerAndNext()">gewusst</button>
	<button md-button (click)="next()">nicht gewusst</button>

	</div>




</div>
