<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    LyricsQuiz!
  </h1>
    <span>Zu welchem Lied gehört der Songtext</span>
</div>

<!--
<div>
   
	<button md-button (click)="getPlaylists()">get playlists</button>
    <button md-button (click)="next()">Weiter</button>
    <button md-button>Tipp</button>
    <button md-button (click)="showSolution()">Lösung</button>

</div>


<p class="lyrics">{{lyrics}}</p>
-->

<landing *ngIf="!loggedIn"></landing>

<router-outlet></router-outlet>
