/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*optional add hammer.js */



@font-face {
    font-family: Casual;
    src: url("./assets/fonts/Casual-Regular.ttf");
}

.title {
	font-family: Casual !important;
}

html, body {
    min-height: 100%;
}

body {
	background-image: url(assets/Blurred-Background_6.jpg);
	background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.button-margin {
	margin: 5px !important;
}

#lyrics-box {
	text-align: center;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	width: 80vw;
}